cache:
  paths:
    - node_modules

stages:
  - build

DEV-DEPLOY:
  image: sleavely/node-awscli:20.x
  stage: build
  only:
    - develop
  script:
    - yarn
    - yarn build:dev
    - aws s3 sync dist/ s3://nodo-ai-copy-trading-dev --delete
    - aws cloudfront create-invalidation --distribution-id ${DEV_CLOUDFRONT_DIST} --paths "/*"
  tags:
    - nodo-docker-runner
UAT-DEPLOY:
  image: sleavely/node-awscli:20.x
  stage: build
  only:
    - uat
  script:
    - yarn
    - yarn build:uat
    - aws s3 sync dist/ s3://nodo-ai-copy-trading-uat --delete
    - aws cloudfront create-invalidation --distribution-id ${UAT_CLOUDFRONT_DIST} --paths "/*"
  tags:
    - nodo-docker-runner  
STG-DEPLOY:
  image: sleavely/node-awscli:20.x
  stage: build
  only:
    - staging
  script:
    - yarn
    - yarn build:staging
    - aws s3 sync dist/ s3://nodo-ai-copy-trading-staging --delete
    - aws cloudfront create-invalidation --distribution-id ${STG_CLOUDFRONT_DIST} --paths "/*"
  tags:
    - nodo-docker-runner  
PRD-DEPLOY:
  image: sleavely/node-awscli:20.x
  stage: build
  only:
    - main
  script:
    - yarn
    - yarn build:production
    - aws s3 sync dist/ s3://ai.nodo.xyz --delete
    - aws cloudfront create-invalidation --distribution-id ${PRD_CLOUDFRONT_DIST} --paths "/*"
  tags:
    - nodo-docker-runner  
