cache:
  paths:
    - node_modules

stages:
  - build

DEV-DEPLOY:
  image: sleavely/node-awscli:20.x
  stage: build
  only:
    - develop
  script:
    - corepack enable
    - corepack prepare yarn@stable --activate
    - yarn install --immutable
    - yarn build:dev
    - aws s3 sync dist/ s3://nodo-ai-copy-trading-dev --delete
    - aws cloudfront create-invalidation --distribution-id ${DEV_CLOUDFRONT_DIST} --paths "/*"
  tags:
    - nodo-runner-docker  
UAT-DEPLOY:
  image: sleavely/node-awscli:20.x
  stage: build
  only:
    - uat
  script:
    - yarn
    - yarn build:uat
    - aws s3 sync dist/ s3://nodo-ai-copy-trading-uat --delete
    - aws cloudfront create-invalidation --distribution-id E2FHC9LSU3PJ2T --paths "/*"
PRD-DEPLOY:
  image: sleavely/node-awscli:20.x
  stage: build
  only:
    - main
  script:
    - yarn
    - yarn build:production
    - aws s3 sync dist/ s3://ai.nodo.xyz --delete
    - aws cloudfront create-invalidation --distribution-id ${PRD_CLOUDFRONT_DIST} --paths "/*"
